body,
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#editingArea {
	width: 100%;
	height: 100%;
}

svg#patternContainer{
	width: 100%;
	height: 100%;
}


/************************************ SVG STYLES ****************************************/

svg#patternContainer > g > path {
    fill: transparent;
    stroke-width: 1px;
    stroke: black;
    vector-effect: non-scaling-stroke;
    shape-rendering: crispedges;
}

.indicator {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    position: absolute;
	z-index: 10;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

svg#patternContainer > g > path:hover {
	stroke: blue
}

#centerPoint{
	top: 50%;
	left: 50%;
}